body {
  background-image: url("./../images/background.jpg");
  background-size: 82%;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: black;
}

#scoreDiv {
  font-size: 25px;
  color: white;
  margin-top: 5px;
  margin-left: 1105px;
  height: 2px;
}

.section-1 {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: white;
  text-align: left;
  width: 100%;
  font-size: 78px;
  /* border: white 2px solid; */
  margin-left: 10%;
  margin-top: 10%;
  transition: color 0.5s;
}

h1:hover {
  color: rgb(126, 0, 0);
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 20px;
  margin-left: 10%;
  text-align: left;
  margin-top: -30px;
  width: 150%;
}

span {
  color: rgb(175, 0, 0);
}

#canvas {
  border-radius: 8px;
  margin-left: 900px;
  margin-top: -18%;
  background-image: url("./../images/mouse.png");
  background-repeat: repeat;
  transition: all 6s ease-out;
  background-position: bottom;
  background-size: 144px;
}

#canvas:hover {
  background-position-y: 100px;
  background-repeat: repeat;
  background-size: 448px;
}

#start-button {
  width: 150px;
  height: 30px;
  margin-left: 1080px;
  margin-top: 4px;
  font-size: 22px;
  background-color: darkred;
  border-radius: 6px;
  color: lightgrey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: background-color 0.25s;
}

#start-button:hover {
  background-color: rgb(202, 0, 0);
}

#restart-button {
  width: 150px;
  height: 30px;
  margin-left: 1080px;
  font-size: 20px;
  background-color: darkred;
  border-radius: 6px;
  color: lightgrey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: background-color 0.25s;
  visibility: hidden;
}

#restart-button:hover {
  background-color: rgb(202, 0, 0);
}
